.footer-box {
  margin-top: 144px;
  width: 1920px;
  height: 148px;

  background: #373737;
  border: 1px solid #707070;
}

.footer-box > p {
  margin-top: 21px;

  text-align: center;
  font: normal normal normal 15px/25px Pretendard;
  color: #ffffff;
}
